:root {
  --header-font: 'Libre Baskerville', Verdana;
  --body-font:  'Open Sans', Verdana;
}

* {
    font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--header-font);
}

html,body, #root{
        height:100%;
        margin:0;
        padding:0;
}

.centered-flex{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        flex-direction: row;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.login-input {
  margin: auto;
  width: 30%;
  text-align: center;
}

#login-logo {
  width: 70%;
  margin-bottom: 20px;
  filter: blur(2px);
}

#login-logo:hover{
 filter: blur(0px);
 filter: sepia(100%);
 cursor: pointer;
}