:root {
  --header-font: 'Lato', sans-serif;;
  --body-font:  'Lato', sans-serif;;
}

* {
    font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--header-font);
    font-weight: 700;
}

html,body, #root, .container-fluid{
        height:100%;
        margin:0;
        padding:0;
}

.centered-flex{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        flex-direction: row;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.login-input {
  margin: auto;
  width: 30%;
  text-align: center;
}

#login-logo {
  width: 70%;
  margin-bottom: 20px;
  filter: blur(2px);
}

#login-logo:hover{
 filter: blur(0px);
 filter: sepia(100%);
 cursor: pointer;
}


/*
 * Sidebar
 */
 
h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  padding-left: 15px;
  border-bottom: 1px solid #eee;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.nav-link:hover{
  background-color: #55636f;
  color: white !important;
}